<div class="customer">
  <p><%= link_to 'Edit', edit_customer_path(customer) %> <%= link_to 'x', customer, method: :delete, data: { confirm: 'Are you sure?' } %></p>
 <h2>
    <%= link_to customer.fullname, customer %>
  </h2>

   <% if customer.province_id?  %>
    <p>Province:<%= customer.province_id %> </p>
  <% else %>
    <p>Province:None</p>

  <% end %>


 <p><%= image_tag customer.image%></p>
 <p>Phone:<%= customer.phone %></p>
 <p>Email: <%= customer.email %></p>
 <p>Notes: <%= customer.note %> </p>

</div>
